body {
    font-family: 'Lato', sans-serif;
}


header {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
     font-weight: 300;
}

header h1 {
    font-size: 1.8rem;
}

header p {
    font-size: 1.2rem;
}

.container {
    width:90%;
    margin: auto;
    text-align: center;
}
.animationField {
    display: inline-block;
}
.point {
/*    I dont ned to have width and height becouse i set up padding*/
    padding: 25px;
    border-radius: 100%;
    background: #000000;
    display: inline-block;
    margin-right: 2px;
    clip-path: circle(100%);
    transition: all ease-in-out 1500ms;

}

.p0class{
    clip-path: circle(10%);
}

@media(min-width: 400px){
    .point {
        padding: 35px;
    }
}
@media(min-width: 670px){
    .point {
        padding: 40px;
    }
    header {
    margin-top: 30px;
    margin-bottom: 30px;
    
}
}